In [1]:
import pandas as pd
import numpy as np
import requests
from bmoderiva.distance import haversine
import folium
from streamlit_folium import folium_static
import streamlit as st
from datetime import datetime, timedelta

In [3]:
token='860580f8b468d0c8b9d0bc2f7606f8'
url=f'https://api.sofarocean.com/api/latest-data?spotterId=SPOT-1442&token={token}'

In [4]:
response = requests.get(url).json()

In [25]:
df = pd.DataFrame(response['data']['track'])
df.rename(columns={"timestamp": "date_time"}, inplace=True)
for i in df.columns:
    try:
        df[i] = pd.to_numeric(df[i])
    except:
        pass
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%dT%H:%M:%S.000Z')
df

    latitude  longitude           date_time
0 -62.280567 -58.500683 2021-12-13 16:49:01
1 -62.276483 -58.482600 2021-12-13 17:19:01

In [19]:
df.rename()

    latitude  longitude                 timestamp           date_time
0 -62.280567 -58.500683  2021-12-13T16:49:01.000Z 2021-12-13 16:49:01
1 -62.276483 -58.482600  2021-12-13T17:19:01.000Z 2021-12-13 17:19:01